/********** Template CSS **********/
:root {
    --primary: #16D5FF;
    --secondary: #999999;
    --light: #F2F8FE;
    --dark: #111111;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 60px;
    z-index: 99;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
    font-weight: 500 !important;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.section-bg{
    background: #f4f4f4;
}

/*** Top Navbar ***/
.top-navbar{
    background: #555;
    align-items: center;
    justify-content: center;
}

.top-navbar-restaurant{
    width: fit-content;
    background: var(--primary);
    border-radius: 4px;
    display: flex;
    float: right;
}
.top-navbar-restaurant a{
    color: #fff;
}
.tnbr-dropdown .aa{
    color: #000;
}
.tnbr-dropdown .aa img{
    width: 25px;
}

/*** Navbar ***/
.navbar{
    z-index: 900;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar i{
    font-size: 20px;
}

.navbar.sticky-top {
    display: hidden;
    transition: .5s;
    box-shadow: -1px 4px 5px 0px rgba(88, 88, 88, 0.35);
    -webkit-box-shadow: -1px 4px 5px 0px rgba(88, 88, 88,0.35);
    -moz-box-shadow: -1px 4px 5px 0px rgba(88, 88, 88,0.35);
}

.navbar .navbar-brand {
    height: 75px;
}

.search-box{
    width: 30vw;
    display: flex;
    align-items: center;
    padding: 3px 3px 3px 3px;
    background: #fff;
    background: whitesmoke;
    border-radius: 5px;
}

.search-box input{
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    border-left: 1px solid gray;
    padding: 2px 8px;
}

.search-box input::placeholder{color: rgb(165, 165, 165)}

.search-box i{
    padding: 5px 10px;
    cursor: pointer;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: var(--dark);
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-cart{
    display: flex;
    align-items: center;
}

.cart-count{
    display: block;
    margin-top: -25px;
    /* background: red; */
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

.navbar .btn:hover {
    color: #FFFFFF !important;
    background: var(--primary) !important;
}

/*** Bottom Navbar ***/
.bottom-navbar{
    background: #555;
    text-align: center;
}

.bottom-navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.bottom-navbar ul li{
    padding: 0 13px;
}

.bottom-navbar ul li a{
    font-size: 14px;
}

/*** Header ***/
#hero {
    width: 100%;
    height: 50vh;
    background: url("../img/hero.jpg") center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    padding: 0;
}

#hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.705);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.hero-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--secondary);
}

.hero-text-box{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-rendering: optimizeLegibility;
}

.hero-text-box h3{
    color: #fff;
    letter-spacing: 3px;
    word-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

/*** Popular Food ***/
.popular-food .pf img{
    border-radius: 50%;
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.popular-food .pf img:hover{
    transform: scale(1.1);
    transition: transform 0.5s, opacity 0.5s;
    border: 1px solid var(--primary);
}

/*** How it works ***/
.how-it-works img{
    width: 50%;
    height: 140px;
    margin-bottom: 20px;
}
.how-it-works h5{color: var(--primary);}

/*** Daily Order ***/
.daily-order{
    height: 400px;
}
.daily-order-items div{
    height: 150px;
}
.daily-order-items img{
    width: 100%;
    height: 150px;
    object-fit: fill;
    border-radius: 5px;
}
.daily-order-items .price-details .item-name{
    padding: 5px 0 5px 2px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #111111;
}

/*** Ads ***/
.ads img{
    width: 100%;
    height: 50vh;
}

/*** Index Restaurant Style ***/
.restaurant-logo{
    width: 70px;
}
.restaurants .sub-header .see-more{
    text-align: right;
}
.meal-wrapper{
    width: 100%;
    height: 280px;
    padding-left: 5px;
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    overscroll-behavior-x: contain;
}
.meal-wrapper::-webkit-scrollbar{display: none;}
.meal-wrapper .meals{
    min-width: 180px;
    width: 200px;
    height: 200px;
}
.meal-wrapper .meals a{
    display: block;
    padding: 2px;
    box-shadow: 2px 1px 8px 2px rgba(187, 187, 187, 0.212);
    -webkit-box-shadow: 2px 1px 8px 2px rgba(187, 187, 187, 0.212);
    -moz-box-shadow: 2px 1px 8px 2px rgba(187, 187, 187, 0.212);
}
.meal-wrapper .meals a:hover{
    transition: 0.2s ease-in;
    box-shadow: 2px 1px 8px 2px rgba(88, 88, 88, 0.301);
    -webkit-box-shadow: 2px 1px 8px 2px rgba(88, 88, 88, 0.301);
    -moz-box-shadow: 2px 1px 8px 2px rgba(88, 88, 88, 0.301);
}
.meal-wrapper img{
    width: 100%;
    height: 150px;
    object-fit: fill;
    border-radius: 5px;
}
.meal-wrapper .price-details{
    padding: 5px;
}
.meal-wrapper .price-details .item-name{
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #111111;
}
.meal-wrapper .price-details .price-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.meal-wrapper .price-details .price-box .price{
    padding-top: 15px;
}
.meal-wrapper .price-details .price-box i{
    display: block;
    border-left: 1px solid gray;
    padding-left: 10px;
}

/*** Subscriber ***/
.subscriber{
    background: whitesmoke;
}
.subscriber .box{
    width: 50%;
}
.subscribe{
    background: #fff;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: 1px solid var(--primary);
}
.subscribe input{
    width: 100%;
    height: 40px;
    margin: 0;
    background: transparent;
    border: none;
}
.subscribe input:focus{
    outline: none;
    border: none;
}
.subscribe input::placeholder{
    padding-left: 4px;
}
.subscribe span{
    padding: 0 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.subscribe span i{
    font-size: 25px;
    color: red;
}
.subscribe span i:hover{
    color: #a00303;
}

/*** Footer ***/
.footer{
    background: #000;
    margin: 0;
}
.footer .footer-top{
    width: 100%;
    background: gray;
    margin: 0;
    padding: 0;
}
.footer a{
    color: #999999;
}
.footer a:hover{
    color: #d3d3d3;
}
.footer h3{
    color: var(--primary);
    letter-spacing: 3px;
    font-size: 32px;
    font-family: tahoma, corbel;
    font-weight: 700;
}
.footer .socials ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0;
    padding-left: 10px;
}
.footer .socials ul li i{
    font-size: 18px;
}
.footer h5{
    color: rgb(197, 197, 197);
    margin-bottom: 15px;
}
.footer .footer-links ul{
    list-style: none;
    padding: 0;
}
.footer .footer-links ul li{
    padding-bottom: 6px;
}
.footer .footer-bottom{
    padding: 0;
    margin: 0;
}
.footer .footer-bottom p{
    margin-bottom: 0;
}


/*** Register Restaurant ***/
.restaurant-reg{
    width: 70%;
}
.restaurant-reg form .form-field{
    width: 100%;
    background: whitesmoke;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 15px;
}
.restaurant-reg form .form-field.restaurant-logo{
    min-width: fit-content;
    width: 35%;
}
.restaurant-reg form .form-field label{
    width: 100px;
    display: flex;
    gap: 5px;
    padding-left: 5px;
    padding-right: 10px;
    border-right: 1px solid gray;
}
.restaurant-reg form .form-field input,
.restaurant-reg form .form-field textarea{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.restaurant-reg form .form-field textarea{
    padding: 15px;
    height: 90px;
    resize: none;
}
.restaurant-reg form .form-field.submit{
    background: none;
}
.restaurant-reg form .form-field input[type="submit"]{
    background: var(--primary);
    border-radius: 10px;
}

/*** Enter Password ***/
.restaurant-reg form .form-field.ent-pwd label{
    width: 150px;
}

/*** ======================== Restaurants ====================== ***/
.restaurant-header{
    height: 180px;
    background: url("../img/hero.jpg") center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.restaurant-header:before{
    content: "";
    background: rgba(0, 0, 0, 0.856);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}.restaurant-header div{
    z-index: 2;
}
.restaurant-header div h3{
    color: #fff;
    letter-spacing: 2px;
}
.restaurant-header div h3 img{
    width: 65px;
    margin-right: 10px;
    border-radius: 50%;
}
.restaurant-meal{
    width: 100%;
    padding-left: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.restaurant-meal .meals{
    min-width: 180px;
    width: 200px;
}
.restaurant-meal .meals a{
    display: block;
    padding: 2px;
    box-shadow: 2px 1px 8px 2px rgba(187, 187, 187, 0.212);
    -webkit-box-shadow: 2px 1px 8px 2px rgba(187, 187, 187, 0.212);
    -moz-box-shadow: 2px 1px 8px 2px rgba(187, 187, 187, 0.212);
}
.restaurant-meal .meals a:hover{
    transition: 0.2s ease-in;
    box-shadow: 2px 1px 8px 2px rgba(88, 88, 88, 0.301);
    -webkit-box-shadow: 2px 1px 8px 2px rgba(88, 88, 88, 0.301);
    -moz-box-shadow: 2px 1px 8px 2px rgba(88, 88, 88, 0.301);
}
.restaurant-meal img{
    width: 100%;
    height: 150px;
    object-fit: fill;
    border-radius: 5px;
}
.restaurant-meal .price-details{
    padding: 5px;
}
.restaurant-meal .price-details .item-name{
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #111111;
}
.restaurant-meal .price-details .price-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.restaurant-meal .price-details .price-box .price{
    padding-top: 15px;
}
.restaurant-meal .price-details .price-box i{
    display: block;
    border-left: 1px solid gray;
    padding-left: 10px;
}

/*** ======================== Product Item ====================== ***/
.product-wrapper{
    background: whitesmoke;
}
.product-wrapper .prod-inn{
    background: #fff;
    width: 65%;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 2px 1px 8px 2px rgba(187, 187, 187, 0.212);
    -webkit-box-shadow: 2px 1px 8px 2px rgba(187, 187, 187, 0.212);
    -moz-box-shadow: 2px 1px 8px 2px rgba(187, 187, 187, 0.212);
}
.product-wrapper .prod-inn .item-image img{
    width: 100%;
    height: 100%;
}
.product-wrapper .prod-inn .restaurant-name{
    display: block;
}
.product-wrapper .prod-inn .ratings{
    color: gold;
    padding: 0;
    margin: 0;
}
.product-wrapper .prod-inn .item-name{
    color: var(--primary);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.product-wrapper .prod-inn .price{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.vat-info{font-size: 13px;}
.quant-btn{
    display: flex;
}
.quant-btn input{
    width: 50px;
    text-align: center;
}
.product-wrapper .prod-inn .action-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-wrapper .prod-inn .action-btn i{
    font-size: 20px;
}

/*** ======================== Delivery Details ====================== ***/
.delivery-details{
    width: 40%;
}
.delivery-details h4{
    font-weight: bold;
    font-family: cursive, serif;
}
.delivery-details form .form-field{
    width: 100%;
}
.delivery-details form .form-field input{
    padding: 10px 15px;
    border-radius: 20px
}
.delivery-details form input[type="submit"]{
    border-radius: 20px;
    padding: 10px 0;;
    color: #000;
    background: var(--primary);
}